In [1]:
import pandas as pd
import pickle
import numpy as np

In [3]:
df=pickle.load(open('dataset_l2.pkl','rb'))

In [4]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
2763,24,Bangladesh,India,0.1,0,0,Gwalior,"Shrimant Madhavrao Scindia Cricket Stadium, Gw..."
2764,24,Bangladesh,India,0.2,0,0,Gwalior,"Shrimant Madhavrao Scindia Cricket Stadium, Gw..."
2765,24,Bangladesh,India,0.3,1,0,Gwalior,"Shrimant Madhavrao Scindia Cricket Stadium, Gw..."
2766,24,Bangladesh,India,0.4,4,0,Gwalior,"Shrimant Madhavrao Scindia Cricket Stadium, Gw..."
2767,24,Bangladesh,India,0.5,0,Liton Das,Gwalior,"Shrimant Madhavrao Scindia Cricket Stadium, Gw..."
...,...,...,...,...,...,...,...,...
101914,854,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
101915,854,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
101916,854,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
101917,854,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
101918,854,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [5]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        2349
Pallekele International Cricket Stadium    1945
Melbourne Cricket Ground                   1079
Sydney Cricket Ground                       495
Adelaide Oval                               373
Sharjah Cricket Stadium                     127
Name: count, dtype: int64

In [8]:
cities=np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [9]:
df['city']=cities

In [10]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [11]:
df.drop(columns=['venue'],inplace=True)

In [16]:
eligible_cities=df['city'].value_counts()[df['city'].value_counts()>600].index.tolist()

In [66]:
eligible_cities

['Mirpur',
 'Johannesburg',
 'Colombo',
 'Dubai',
 'London',
 'Pallekele',
 'Barbados',
 'Cape Town',
 'Durban',
 'Auckland',
 'St Lucia',
 'Melbourne',
 'Sydney',
 'Wellington',
 'Chittagong',
 'Nottingham',
 'Centurion',
 'Mumbai',
 'Hamilton',
 'Kolkata',
 'Manchester',
 'Christchurch']

In [17]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
2763,24,Bangladesh,India,0.1,0,0,Gwalior
2764,24,Bangladesh,India,0.2,0,0,Gwalior
2765,24,Bangladesh,India,0.3,1,0,Gwalior
2766,24,Bangladesh,India,0.4,4,0,Gwalior
2767,24,Bangladesh,India,0.5,0,Liton Das,Gwalior
...,...,...,...,...,...,...,...
101914,854,Sri Lanka,Australia,19.3,1,0,Colombo
101915,854,Sri Lanka,Australia,19.4,0,0,Colombo
101916,854,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
101917,854,Sri Lanka,Australia,19.6,2,0,Colombo
101918,854,Sri Lanka,Australia,19.7,1,0,Colombo

In [21]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [22]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
2763,24,Bangladesh,India,0.1,0,0,Gwalior,0
2764,24,Bangladesh,India,0.2,0,0,Gwalior,0
2765,24,Bangladesh,India,0.3,1,0,Gwalior,1
2766,24,Bangladesh,India,0.4,4,0,Gwalior,5
2767,24,Bangladesh,India,0.5,0,Liton Das,Gwalior,5
...,...,...,...,...,...,...,...,...
101914,854,Sri Lanka,Australia,19.3,1,0,Colombo,125
101915,854,Sri Lanka,Australia,19.4,0,0,Colombo,125
101916,854,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
101917,854,Sri Lanka,Australia,19.6,2,0,Colombo,127
101918,854,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [23]:
df['over']=df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no']=df['ball'].apply(lambda x:str(x).split(".")[1])

In [24]:
df['balls_bowled']=(df['over'].astype('int')*6)+df['ball_no'].astype('int')

In [25]:
df['balls_left']=120-df['balls_bowled']
df['balls_left']=df['balls_left'].apply(lambda x:0 if x<0 else x)

In [26]:
df['player_dismissed']=df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed']=df['player_dismissed'].astype('int')
df['player_dismissed']=df.groupby('match_id')['player_dismissed'].cumsum()
df['wickets_left']=10-df['player_dismissed']

In [27]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
2763,24,Bangladesh,India,0.1,0,0,Gwalior,0,0,1,1,119,10
2764,24,Bangladesh,India,0.2,0,0,Gwalior,0,0,2,2,118,10
2765,24,Bangladesh,India,0.3,1,0,Gwalior,1,0,3,3,117,10
2766,24,Bangladesh,India,0.4,4,0,Gwalior,5,0,4,4,116,10
2767,24,Bangladesh,India,0.5,0,1,Gwalior,5,0,5,5,115,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101914,854,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2
101915,854,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2
101916,854,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1
101917,854,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1
101918,854,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1

In [28]:
df['crr']=(df['current_score']*6)/df['balls_bowled']

In [29]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
2763,24,Bangladesh,India,0.1,0,0,Gwalior,0,0,1,1,119,10,0.000000
2764,24,Bangladesh,India,0.2,0,0,Gwalior,0,0,2,2,118,10,0.000000
2765,24,Bangladesh,India,0.3,1,0,Gwalior,1,0,3,3,117,10,2.000000
2766,24,Bangladesh,India,0.4,4,0,Gwalior,5,0,4,4,116,10,7.500000
2767,24,Bangladesh,India,0.5,0,1,Gwalior,5,0,5,5,115,9,6.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101914,854,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.410256
101915,854,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.355932
101916,854,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.302521
101917,854,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.350000
101918,854,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.347107

In [30]:
groups=df.groupby('match_id')
match_ids=df['match_id'].unique()
last_five=[]
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs'].sum().values.tolist())

In [31]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 39.0,
 39.0,
 39.0,
 38.0,
 34.0,
 34.0,
 33.0,
 32.0,
 27.0,
 27.0,
 27.0,
 28.0,
 28.0,
 29.0,
 28.0,
 29.0,
 29.0,
 29.0,
 29.0,
 25.0,
 26.0,
 26.0,
 26.0,
 27.0,
 32.0,
 33.0,
 29.0,
 29.0,
 29.0,
 30.0,
 25.0,
 26.0,
 27.0,
 28.0,
 28.0,
 29.0,
 30.0,
 31.0,
 31.0,
 32.0,
 34.0,
 34.0,
 33.0,
 32.0,
 32.0,
 35.0,
 35.0,
 41.0,
 45.0,
 45.0,
 44.0,
 44.0,
 43.0,
 43.0,
 37.0,
 38.0,
 39.0,
 36.0,
 36.0,
 35.0,
 34.0,
 37.0,
 36.0,
 39.0,
 40.0,
 40.0,
 41.0,
 40.0,
 40.0,
 40.0,
 39.0,
 38.0,
 38.0,
 39.0,
 39.0,
 36.0,
 36.0,
 31.0,
 27.0,
 27.0,
 26.0,
 25.0,
 26.0,
 26.0,
 27.0,
 25.0,
 24.0,
 23.0,
 26.0,
 28.0,
 29.0,
 25.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 36.0,
 37.0,
 37.0,
 33.0,
 32.0,
 34.0,
 30.0,
 31.0,
 31.0,
 33.0,
 34.0,
 34.0,
 34.0,
 35.0,
 36.0,
 33.0,
 30.0,
 36.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 38.0,
 44.0,
 43.0,
 47.0,
 50.0,
 47.0,
 52.0,
 58.0,
 58.0,
 60.0,
 61.0,
 62.0,
 58.0,
 64.0,
 64.0,
 67.0,
 66.0,
 66.0,
 65.0,
 69.0,
 69.0,
 69.0,
 69.0,
 74.0,
 72.0,
 73.0,
 78.0,
 78.0,
 83.0,
 83.0,
 82.0,
 76.0,
 77.0,
 74.0,
 71.0,
 70.0,
 68.0,
 68.0,
 68.0,
 63.0,
 63.0,
 63.0,
 64.0,
 59.0,
 62.0,
 62.0,
 67.0,
 66.0,
 68.0,
 65.0,
 64.0,
 63.0,
 62.0,
 62.0,
 59.0,
 58.0,
 52.0,
 52.0,
 47.0,
 47.0,
 51.0,
 52.0,
 57.0,
 62.0,
 61.0,
 62.0,
 58.0,
 52.0,
 51.0,
 56.0,
 55.0,
 55.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 63.0,
 63.0,
 62.0,
 65.0,
 69.0,
 69.0,
 75.0,
 79.0,
 83.0,
 85.0,
 82.0,
 78.0,
 75.0,
 79.0,
 79.0,
 79.0,
 74.0,
 80.0,
 77.0,
 78.0,
 79.0,
 79.0,
 74.0,
 74.0,
 74.0,
 75.0,
 71.0,
 76.0,
 78.0,
 83.0,
 83.0,
 89.0,
 89.0,
 86.0,
 84.0,
 81.0,
 81.0,
 78.0,
 76.0,
 75.0,
 80.0,
 80.0,
 80.0,
 76.0,
 76.0,
 75.0,
 78.0,
 72.0,
 75.0,
 75.0,
 75.0,
 72.0,
 75.0,
 75.0,
 75.0,
 74.0,
 75.0,
 73.0,
 68.0,
 66.0,
 60.0,
 54.0,
 54.0,
 59.0,
 61.0,
 66.0,
 66.0,
 69.0,
 68.0,
 63.0,
 58.0,
 64.0,
 67.0,
 73.0,
 73.0,
 73.0,
 70.0,
 72.0,
 69.0,
 69.0,
 72.0,
 77.0,
 79.0,
 80.0,
 79.0,
 80.0,
 79.0,
 76.0,
 76.0,
 76.0,
 77.0,
 83.0,
 82.0,
 76.0,
 73.0,
 68.0,
 68.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 38.0,
 38.0,
 38.0,
 39.0,
 37.0,
 41.0,
 41.0,
 43.0,
 39.0,
 45.0,
 45.0,
 42.0,
 47.0,
 48.0,
 48.0,
 52.0,
 48.0,
 48.0,
 48.0,
 47.0,
 44.0,
 40.0,
 41.0,
 38.0,
 35.0,
 34.0,
 33.0,
 33.0,
 35.0,
 35.0,
 35.0,
 36.0,
 37.0,
 37.0,
 38.0,
 35.0,
 34.0,
 33.0,
 33.0,
 28.0,
 29.0,
 30.0,
 24.0,
 22.0,
 22.0,
 19.0,
 20.0,
 20.0,
 24.0,
 24.0,
 27.0,
 28.0,
 28.0,
 27.0,
 26.0,
 27.0,
 28.0,
 27.0,
 26.0,
 25.0,
 25.0,
 24.0,
 23.0,
 23.0,
 22.0,
 21.0,
 21.0,
 20.0,
 24.0,
 23.0,
 28.0,
 26.0,
 26.0,
 26.0,
 27.0,
 26.0,
 25.0,
 26.0,
 23.0,
 24.0,
 21.0,
 20.0,
 20.0,
 24.0,
 24.0,
 24.0,
 23.0,
 24.0,
 25.0,
 29.0,
 30.0,
 32.0,
 32.0,
 32.0,
 33.0,
 33.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 47.0,
 49.0,
 50.0,
 50.0,
 51.0,
 51.0,
 50.0,
 50.0,
 51.0,
 50.0,
 51.0,
 52.0,
 51.0,
 52.0,
 48.0,
 46.0,
 47.0,
 43.0,
 40.0,
 41.0,
 44.0,
 43.0,
 38.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 34.0,
 31.0,
 31.0,
 27.0,
 31.0,
 31.0,
 31.0,
 31.0,
 32.0,
 32.0,
 32.0,
 32.0,
 31.0,
 31.0,
 33.0,
 38.0,
 42.0,
 42.0,
 43.0,
 41.0,
 40.0,
 40.0,
 42.0,
 41.0,
 44.0,
 43.0,
 44.0,
 42.0,
 42.0,
 43.0,
 44.0,
 43.0,
 43.0,
 47.0,
 47.0,
 46.0,
 47.0,
 47.0,
 46.0,
 47.0,
 47.0,
 47.0,
 51.0,
 51.0,
 50.0,
 45.0,
 42.0,
 42.0,
 42.0,
 42.0,
 43.0,
 46.0,
 41.0,
 42.0,
 39.0,
 40.0,
 39.0,
 39.0,
 38.0,
 38.0,
 41.0,
 41.0,
 42.0,
 38.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 49.0,
 50.0,
 46.0,
 47.0,
 48.0,
 47.0,
 46.0,
 46.0,
 46.0,
 47.0,
 51.0,
 56.0,
 53.0,
 54.0,
 55.0,
 54.0,
 54.0,
 58.0,
 53.0,
 54.0,
 54.0,
 58.0,
 56.0,
 53.0,
 49.0,
 48.0,
 45.0,
 41.0,
 42.0,
 37.0,
 38.0,
 37.0,
 37.0,
 37.0,
 36.0,
 37.0,
 38.0,
 38.0,
 38.0,
 43.0,
 40.0,
 36.0,
 36.0,
 35.0,
 35.0,
 38.0,
 38.0,
 35.0,
 34.0,
 33.0,
 32.0,
 29.0,
 33.0,
 32.0,
 32.0,
 33.0,
 32.0,
 33.0,
 32.0,
 31.0,
 36.0,
 36.0,
 36.0,
 36.0,
 38.0,
 38.0,
 37.0,
 36.0,
 36.0,
 36.0,
 41.0,
 39.0,
 44.0,
 45.0,
 44.0,
 41.0,
 40.0,
 40.0,
 41.0,
 42.0,
 43.0,
 42.0,
 40.0,
 41.0,
 43.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 41.0,
 42.0,
 43.0,
 43.0,
 43.0,
 44.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 36.0,
 37.0,
 38.0,
 38.0,
 38.0,
 35.0,
 35.0,
 36.0,
 36.0,
 37.0,
 37.0,
 41.0,
 44.0,
 43.0,
 42.0,
 43.0,
 40.0,
 46.0,
 47.0,
 43.0,
 44.0,
 41.0,
 40.0,
 41.0,
 40.0,
 40.0,
 37.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 37.0,
 38.0,
 33.0,
 32.0,
 32.0,
 31.0,
 32.0,
 32.0,
 33.0,
 29.0,
 26.0,
 30.0,
 30.0,
 33.0,
 36.0,
 31.0,
 31.0,
 32.0,
 32.0,
 35.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 40.0,
 40.0,
 39.0,
 40.0,
 40.0,
 36.0,
 41.0,
 41.0,
 41.0,
 42.0,
 43.0,
 48.0,
 48.0,
 53.0,
 57.0,
 57.0,
 57.0,
 58.0,
 55.0,
 52.0,
 56.0,
 61.0,
 61.0,
 64.0,
 61.0,
 57.0,
 56.0,
 56.0,
 57.0,
 58.0,
 59.0,
 63.0,
 67.0,
 68.0,
 67.0,
 67.0,
 61.0,
 60.0,
 61.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 80.0,
 78.0,
 79.0,
 79.0,
 83.0,
 81.0,
 79.0,
 80.0,
 79.0,
 83.0,
 88.0,
 89.0,
 90.0,
 91.0,
 93.0,
 94.0,
 93.0,
 93.0,
 88.0,
 88.0,
 84.0,
 81.0,
 87.0,
 82.0,
 81.0,
 75.0,
 69.0,
 71.0,
 71.0,
 67.0,
 63.0,
 60.0,
 60.0,
 60.0,
 57.0,
 53.0,
 52.0,
 52.0,
 51.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 52.0,
 52.0,
 47.0,
 47.0,
 50.0,
 54.0,
 53.0,
 48.0,
 48.0,
 48.0,
 49.0,
 50.0,
 47.0,
 52.0,
 50.0,
 51.0,
 50.0,
 49.0,
 53.0,
 54.0,
 56.0,
 55.0,
 54.0,
 58.0,
 55.0,
 50.0,
 55.0,
 55.0,
 58.0,
 54.0,
 56.0,
 56.0,
 56.0,
 56.0,
 53.0,
 55.0,
 55.0,
 55.0,
 54.0,
 55.0,
 55.0,
 54.0,
 53.0,
 49.0,
 49.0,
 52.0,
 52.0,
 53.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [32]:
df['last_five']=last_five

In [34]:
final_df=df.groupby('match_id')['runs'].sum().reset_index().merge(df,on='match_id')

In [37]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [38]:
final_df.dropna(inplace=True)

In [39]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
29,Bangladesh,India,Gwalior,39,90,8,7.800000,39.0,127
30,Bangladesh,India,Gwalior,39,89,8,7.548387,39.0,127
31,Bangladesh,India,Gwalior,39,88,8,7.312500,39.0,127
32,Bangladesh,India,Gwalior,39,87,8,7.090909,38.0,127
33,Bangladesh,India,Gwalior,39,86,8,6.882353,34.0,127
...,...,...,...,...,...,...,...,...,...
44289,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
44290,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
44291,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
44292,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
44293,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [41]:
final_df=final_df.sample(final_df.shape[0])

In [44]:
X=final_df.drop(columns=['runs_x'])
Y=final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [51]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [53]:
trf = ColumnTransformer(
    transformers=[
        ('encoder', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
    ],
    remainder='passthrough'
)

In [54]:
pipe=Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [60]:
from sklearn.linear_model import LinearRegression
pipe.steps[-1] = ('model', LinearRegression())

In [61]:
pipe.fit(X_train, Y_train)
Y_pred = pipe.predict(X_test)
print(r2_score(Y_test, Y_pred))
print(mean_absolute_error(Y_test, Y_pred))

0.7558321500826953
12.39841560045499

In [67]:
import pickle

with open('pipe.pkl', 'wb') as f:
    pickle.dump(pipe, f)